<section>
  <div class="spatial"></div>

  <app-info-card
    background="assets/home/service-info/heart-bg.png"
    icon="assets/home/service-info/heart.png"
    description="We only need you to provide us with your Summoner name to complete your order. We will never ask you for any of your private information."
  />
  <app-info-card
    [even]="true"
    background="assets/home/service-info/bomb-bg.png"
    icon="assets/home/service-info/bomb.png"
    description="Everything is automated on our website, you will never need to waste time contacting anyone to receive your order."
  />
  <app-info-card
    background="assets/home/service-info/hourglass-bg.png"
    icon="assets/home/service-info/hourglass.png"
    description="We only need you to provide us with your Summoner name to complete your order. We will never ask you for any of your private information."
  />
  <app-info-card
    [even]="true"
    background="assets/home/service-info/treasure-bg.png"
    icon="assets/home/service-info/treasure.png"
    description="Everything is automated on our website, you will never need to waste time contacting anyone to receive your order."
  />
</section>

