<section>
  <div class="spatial"></div>

  <app-info-card
    background="assets/home/service-info/heart-bg.png"
    icon="assets/home/service-info/heart.png"
    [description]="'choose-us.cards.heart' | transloco"
  />
  <app-info-card
    [even]="true"
    background="assets/home/service-info/bomb-bg.png"
    icon="assets/home/service-info/bomb.png"
    [description]="'choose-us.cards.bomb' | transloco"
  />
  <app-info-card
    background="assets/home/service-info/hourglass-bg.png"
    icon="assets/home/service-info/hourglass.png"
    [description]="'choose-us.cards.hourglass' | transloco"
  />
  <app-info-card
    [even]="true"
    background="assets/home/service-info/treasure-bg.png"
    icon="assets/home/service-info/treasure.png"
    [description]="'choose-us.cards.treasure' | transloco"
  />
</section>

