:host {
  padding: 6rem;
  display: grid;
  place-items: center;
}

section {
  padding: 6rem 4.375rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 6rem;

  justify-content: space-between;
  align-items: center;
  background-image: url("/assets/home/feedback/world.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
