:host {
  display: block;
  padding: 2rem;
}

form {
  color: black;
  display: flex;
  flex-direction: column;
}

.form-data-wrapper {
  .field-data-wrapper {
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 40% 40% auto;
    margin: 0.5rem 0;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .field-additional-data-wrapper {
    display: flex;
    margin: .25rem 0;
    column-gap: 1rem;
  }
}

.form-options {
  align-self: center;
  display: flex;
  align-items: center;
  column-gap: 0.25rem;

  & > img {
    cursor: pointer;
    align-self: center;
    width: 1.25rem;
  }
}
