<section>
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDL 1 H"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE  KEY BUNDLE  KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH  KEY BUNDLE CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE1 HEXTECH CHEST & KEY BUNDLE1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDL 1 H"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH CHEST & KEY BUNDLE  KEY BUNDLE  KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 HEXTECH  KEY BUNDLE CHEST & KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
  <app-item-card
    [price]="0.85"
    item="1 KEY BUNDLE"
    icon="assets/home/gift-store/lol/hextech.png"
  />
</section>
