<div class="field-wrapper mail-field">
  <label for="main-mail">Contact EMAIL</label>
  <input [formControl]="emailFormField" id="main-mail" type="text" />
  <div class="errors"
    *ngIf="
      emailFormField.invalid && (emailFormField.dirty || emailFormField.touched)
    "
  >
    <div *ngIf="emailFormField.hasError('required')">Email is required.</div>
    <div *ngIf="emailFormField.hasError('email')">Invalid email address.</div>
  </div>
</div>
<div #payment class="stripe-element"></div>
<ng-container *ngIf="orderPreview$ | async as orderPreview">
  <app-order-summary
    [orderSummary]="orderPreview.orderSummary"
    [checkout]="true"
    (clicked)="submitOrder()"
  />
</ng-container>
