.mail-field {
  margin: 0 10rem;
  margin-bottom: 2.5rem;

  &  > .errors {
    margin-top: -0.5rem;
    color: #ff634b;
    font-size: 0.75rem;
  }
}

.stripe-element {
  margin: 0 10rem;
  margin-bottom: 2rem;
  padding: 2rem 3.5rem;
  background-color: rgba(0, 0, 0, 0.16);
}
