<nav [class.scrolled]="!isScrollAtTop">
  <div class="logo-wrapper">
    <img class="logo" alt="logo" src="assets/nav/logo.png" />
  </div>

  <div class="navigation">
    <div class="app-urls">
      <a (click)="navbarService.scroll('home')">{{ "nav.home" | transloco }}</a>
      <a (click)="navbarService.scroll('choose-us')">{{
        "nav.about" | transloco
      }}</a>
      <a (click)="navbarService.scroll('store')">{{
        "nav.store" | transloco
      }}</a>
      <a (click)="navbarService.scroll('faq')">{{ "nav.faq" | transloco }}</a>
    </div>

    <div class="menu-icons">
      <img
        src="assets/nav/discord-gold.svg"
        width="35"
        height="35"
        alt="discord server icon"
      />
      <img
        src="assets/nav/cart-gold.svg"
        width="28"
        height="28"
        alt="cart menu icon"
      />
      <app-lang-switcher />
    </div>
  </div>
</nav>
