@import "colors";

:host {
  position: relative;
  display: grid;
  place-items: center;
}

section {
  padding-top: 10em;
  & > .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    & > h2 {
      text-align: center;
      font-size: 5.5rem;
      color: white;
      font-weight: normal;
      margin: 0;
      line-height: 98.5%; /* 88.65px */
      letter-spacing: -0.5px;
      padding: 0 2.5rem;

      & > .highlight {
        color: $gold;
      }
    }

    & > p {
      max-inline-size: min-content;
      min-inline-size: fit-content;
      color: white;
      text-align: center;
      font-family: Goldman;
      font-size: 1.125rem;
      line-height: 170%;
      letter-spacing: 0.2px;
    }
  }
}

.star-one {
  position: absolute;
  left: 18%;
  top: 22%;
}

.star-two {
  position: absolute;
  right: 13%;
  top: 27%;
}

.star-three {
  position: absolute;
  right: 18%;
  top: 65%;
}