<footer>
  <div class="pre-footer">
    <div class="contact">
      <h4>{{ "footer.contact-header" | transloco }}</h4>
      <div class="contact-links">
        <app-contact-link
          (click)="redirectToDiscord()"
          icon="assets/footer/discord.png"
          [link]="discordInviteUrl"
          [size]="44"
        />
        <app-contact-link
          icon="assets/footer/at.png"
          link="support@pixelgift.pl"
          [mail]="true"
          [size]="34"
        />
      </div>
    </div>

    <div class="socials">
      <h4>social media</h4>
      <div class="social-icons">
        <app-contact-link icon="assets/footer/facebook.png" [size]="35" />
        <app-contact-link icon="assets/footer/instagram.png" [size]="35" />
        <app-contact-link icon="assets/footer/twitter.png" [size]="35" />
      </div>
    </div>
  </div>

  <div class="separator"></div>

  <p class="copy">2024 &copy; Pixel Gift, Inc. All rights reserved.</p>
</footer>
