:host {
  display: grid;
  background-color: rgba(0, 0, 0, 0.16);
  padding: 3.5rem;
  grid-template-columns: 30% 15% 15% 15% 15%;
  column-gap: 3rem;
  row-gap: 1.375rem;
  align-items: center;
  justify-items: start;
}

.header-label {
  color: rgba(255, 255, 255, 0.6);
  line-height: 170%; /* 27.2px */
  letter-spacing: 0.2px;
}
