<section>
  <app-category-card
    logo="assets/home/categories/fortnite-text.svg"
    background="assets/home/categories/fortnite-bg.png"
    categoryName="fortnite"
  />

  <app-category-card
    [even]="true"
    logo="assets/home/categories/lol-text.svg"
    background="assets/home/categories/lol-bg.png"
    categoryName="league of legends"
  />

  <app-category-card
    logo="assets/home/categories/cs-text.svg"
    background="assets/home/categories/cs-bg.png"
    categoryName="cs2"
  />

  <app-category-card
    [even]="true"
    logo="assets/home/categories/valorant-text.svg"
    background="assets/home/categories/valorant-bg.png"
    categoryName="valorant"
  />
</section>
