<ng-container
  *ngrxLet="{ orderPreview: orderPreview$, orderForm: orderForm$ } as data"
>
  <section>
    <h2>
      {{ "shopping-cart.header" | transloco }}
      <span class="highlight">{{
        "shopping-cart.header-highlight" | transloco
      }}</span>
    </h2>

    @if(data.orderPreview.orderCategories.length > 0) { @for(orderCategory of
    data.orderPreview.orderCategories; track orderCategory.id; let index =
    $index) {
    <p class="category-order-info">
      {{ "shopping-cart.order" | transloco }}#{{ index + 1 }} -
      {{ orderCategory.name | uppercase }}
    </p>
    @if(data.orderForm) {
    <app-category-order-item
      [orderCategory]="orderCategory"
      [orderCategoryForm]="$any(data.orderForm.get(orderCategory.id))"
      (promoCodeChanged)="onPromoCodeChange(orderCategory.id, $event)"
    />
    } } } @else {
    <div class="empty-state">
      <h1>Empty Shopping Cart</h1>
    </div>
    }
  </section>
  @if(data.orderPreview.orderCategories.length > 0) {
  <app-order-summary
    (clicked)="onSummaryClick()"
    [orderSummary]="data.orderPreview.orderSummary"
  />
  }
</ng-container>
