@if(form) {
  <form
    *ngIf="form"
    class="field-data-wrapper"
    [formGroup]="form"
  >
    @for (formField of formFields; track formField.id) {
      @switch (formField.fieldType) {
        @case ('Select') {
          <app-select-input [label]="formField.name" [formControlName]="formField.name" [options]="getSelectOptions(formField.options)" />
        }
        @case ('Input') {
          <app-text-input [label]="formField.name" [formControlName]="formField.name"/>
        }
      }
    }
    <app-text-input label="discount code" formControlName="promoCode" />
  </form>
}