:host {
  display: inline;
  // other styles
  &[data-status="default"] {
    color: #dedede;
  }
  &[data-status="critical"] {
    color: #f18181;
  }
  &[data-status="success"] {
    color: #42ff00;
  }
  &[data-status="info"] {
    color: #c3d8ff;
  }
  &[data-status="warning"] {
    color: #ffb524;
  }
}
