:host {
  display: block;
  position: relative;
  width: 280px;
  height: 420px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  & > img {
    position: absolute;
    top: 30%;
    left: 50%;
    padding: 20px;
    transform: translate(-50%, -50%);
    height: 160px;
    width: auto;
  }

  & > p {
    position: absolute;
    width: 70%;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    line-height: 170%; /* 27.2px */
    letter-spacing: 0.2px;
  }
}
