<p class="question">
  Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, perferendis?
  <span class="btn-action" (click)="collapsed = !collapsed">{{
    collapsed ? "+" : "-"
  }}</span>
</p>
<p class="answer" [class.expanded]="!collapsed">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident unde
  debitis accusamus magnam harum odit nostrum iusto ex dolorem, quidem odio
  nemo! Commodi adipisci nobis reprehenderit obcaecati doloremque autem dolores,
  harum excepturi iste tempora omnis necessitatibus qui dolorem? Porro quaerat,
  sequi, nihil provident fugit ad sint, debitis soluta corrupti blanditiis
  numquam culpa quod adipisci magnam error sit suscipit similique possimus iste
  sunt doloribus quam excepturi! Numquam, quisquam nemo corporis excepturi
  consequuntur veniam doloremque at tenetur? Expedita quibusdam recusandae
  exercitationem ullam magnam dolor fuga, aliquam dolore possimus fugit sed qui
  quod magni non explicabo eaque molestias. Beatae temporibus recusandae fugit
  nisi accusamus nam accusantium debitis unde perferendis reprehenderit!
  Distinctio repudiandae accusamus quis at consequuntur adipisci temporibus, sit
  minima soluta ad architecto quae maiores! Aut, eligendi.
</p>
